.top-buffer{
	height: 10%;
}

.box{
	font-size: 150px;
	text-align: center;
	border:solid;
	border-color: black;
	color:white;
	-webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.box:hover{
	background-color: black;
	color: black;
	cursor: default;
}