.top-buffer{
	height: 10%;
}

.box{
	font-size: 150px;
	text-align: center;
	border:solid;
	border-color: black;
	color:white;
	-webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.box:hover{
	background-color: black;
	color: black;
	cursor: default;
}

.middle-buffer{
	height: 10%;
}

.winner{
	text-align: center;
}

.start{
	background-color: black;
}
.start:hover{
	background-color: white;
	color: black;
}
.start:active{
	background-color: black;
}
.start:visited{
	background-color: black;
}
.start:focus{
	background-color: black;
	color: white;
}

.winner{
	font-size: 70px;
	text-align: center;
	color: black;
}